* {
  margin:0;
  box-sizing: border-box;
}

html,
body {
height: 100%;
}

body {
background: url(../images/Background.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.logo {
  display: block;
  width: 100%;
}

body {
  font-family: 'Niramit', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Sawarabi Mincho';
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

.dropdown-menu{
    background: none;
    border: none;
    left:45px!important;
}

.nav-pills .nav-link.active {
  color: #fff !important;
  background-color: #FF726E !important;
}

.nav-link {
    background-color: rgb(135, 149, 150) !important;
    color: #fff!important;
}

#sidebar {
  min-width: 275px;
  max-width: 275px;
  background: rgb(53, 54, 54);
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: rgb(101, 102, 102);
}

.componentHeader{
text-align: center;
color: #FF726E;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid rgb(101, 102, 102);
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.5em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background:  rgb(135, 149, 150);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color:  rgb(135, 149, 150);
  background: rgb(101, 102, 102);
}


a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: rgb(101, 102, 102);
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}


/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

.btn{
  padding: .5rem 1rem;
  font-size: 1.10rem;
  background-color: rgb(99, 100, 100);
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
  }
  #sidebar.active {
      margin-left: 0;
      transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
  }
  #sidebarCollapse.active span {
      margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
  }

}

/* card styling */

.tutorialHeader {
color: #E54945 ;
}

.card-header{
  font-size: x-large;
  color: #FF9B99;
  background-color: #2A868A;
  font-family: 'Fresca','sans-serif';
  
}
.card-body{
  background-color:#74BEC1;
  font-family: 'Nimrati','sans-serif';
}
